<%- include("./partials/header.ejs") %>
<style>
    body{
      background-color:rgb(32, 31, 31);
      color: white;
    }
    .container{
      margin-top:24px;
      margin-bottom:24px;
  width: 75%;
  border:1px solid black;
  display:flex;
  flex-direction:row;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793);
    }

    img#imgpost{
      margin:8px;
      flex-basis: 30%;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-position: fixed;
   background-repeat: no-repeat;
    }

    .details{
  display:flex;
  flex-direction:column;
  /* justify-content:center;
  align-items:center; */
  margin: 8px;
  flex-basis: 60%;
    }
  
</style> 
<body>
    
        <div class=container >
        <div class=poster-img>
          <img src="<%= details.Poster%> " alt="movies poster" id="imgpost">
        </div>
      <div class="details">
          <div class="titlev"><h3 class="card-title"><%= details.Title %></h3></div>
          <div class="details1"> <p class="card-text"><b>Actor :</b><%= details.Actors %> </p></div>
          <div class="details1">  <p class="card-text"><b>Released :</b><%= details.Released %> </p></div>
          <div class="details1">  <p class="card-text"><b>Runtime :</b><%= details.Runtime %> </p></div>
          <div class="details1"> <p class="card-text"><b>Genre :</b><%= details.Genre %> </p></div>
          <div class="details1">  <p class="card-text"><b>Released :</b><%= details.Language %> </p></p></div>
          <div class="details1">  <p class="card-text"><b>Country :</b><%= details.Country%> </p> </p></div>
          <div class="details1">   <p class="card-text"><b>Rated:</b><%= details.Rated%> </p></p></div>
          <div class="details1">  <p class="card-text"><b>Director :</b><%= details.Director%> </p> </p></div>
          <div class="details1"> <p class="card-text"><b>Award :</b><%= details.Award%> </p> </p></div>
          <div class="details1">  <p class="card-text"><b>Story:</b> <br><%= details.Plot %> </p> </p></div>
              <p class="card-text"><small class="text-muted">Last Fetched 5 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      </div>
</body>
 <%- include("./partials/footer.ejs") %> 